{% extends "base.html" %}
{% load static %}
{% block content %}

<div style="display: flex; justify-content: center; align-items: center; height: 80vh;">
    <div style="background: white; padding: 30px; border-radius: 10px; box-shadow: 0 0 15px rgba(0,0,0,0.2); width: 300px;">
        <h2 style="text-align: center; margin-bottom: 20px;">Login</h2>
        <form action = "{%url 'login' %}" method="POST">
            {% csrf_token %}
            {% if error %}
                <div class = "alert alert-danger">
                {{error}}
                </div>
            {% endif %}
            <div style="margin-bottom: 15px;">
                <label for="username">Username</label>
                <input type="text" name="username" id="username" class="form-control" placeholder="Enter username" required>
            </div>
            <div style="margin-bottom: 15px;">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" class="form-control" placeholder="Enter password" required>
            </div>
            <button type="submit" class="btn btn-primary w-100">Login</button>
        </form>
    </div>
</div>
{% endblock %}


